<app-nav></app-nav>
<div class="container" @fade>
  <div class="p-5"></div>
  <div class="p-4"></div>
  <mat-divider class="border border-3"></mat-divider>
  <div class="p-4"></div>
  <div
    class="
      row
      d-flex
      justify-content-center
      text-uppercase
      font-weight-bold
      text-light text-center
    "
  >
    <h1 style="font-family: 'Times New Roman', Times, serif">
      Registration<i class="fas fa-user-plus"></i>
    </h1>
  </div>
  <div class="p-4"></div>
  <mat-divider class="border border-3"></mat-divider>
  <div class="p-5"></div>
  <div class="p-2"></div>
  <mat-horizontal-stepper
    class="bg-transparent text-white"
    [linear]="true"
    #stepper
  >
    <mat-step
      [completed]="registrationForm.valid && validateSamePassword()"
      class="bg-transparent text-white"
      label="Fill Registration"
    >
      <mat-card
        @fade
        class="shadow container border blur bg-transparent shadow-lg"
      >
        <form
          [formGroup]="registrationForm"
          (ngSubmit)="createPerson()"
          class="font-weight-bolder needs-validation"
        >
          <div class="m-3">
            <div class="flex-row text-start">
              <label for="email" class="form-label text-light text-start"
                >Email address</label
              >
            </div>
            <div class="flex-row">
              <input
                email
                type="email"
                class="form-control {{
                  isFieldTouched('email')
                    ? validateField('email')
                      ? 'is-valid'
                      : 'is-invalid'
                    : ''
                }}"
                placeholder="email@email.com"
                id="email"
                formControlName="email"
              />
            </div>
          </div>

          <div class="m-3">
            <div class="flex-row text-start">
              <label for="firstName" class="form-label text-light text-start"
                >First Name</label
              >
            </div>
            <div class="flex-row">
              <input
                type="text"
                class="form-control {{
                  isFieldTouched('firstName')
                    ? validateField('firstName')
                      ? 'is-valid'
                      : 'is-invalid'
                    : ''
                }}"
                placeholder="First Name"
                id="firstName"
                formControlName="firstName"
              />
            </div>
          </div>

          <div class="m-3">
            <div class="flex-row text-start">
              <label for="firstName" class="form-label text-light text-start"
                >Last Name</label
              >
            </div>
            <div class="flex-row">
              <input
                type="text"
                class="form-control {{
                  isFieldTouched('lastName')
                    ? validateField('lastName')
                      ? 'is-valid'
                      : 'is-invalid'
                    : ''
                }}"
                placeholder="Last Name"
                id="lastName"
                formControlName="lastName"
              />
            </div>
          </div>

          <div class="m-3">
            <div class="flex-row text-start">
              <label for="exampleInputPassword1" class="form-label text-light"
                >Password</label
              >
            </div>
            <div class="flex-row text-end">
              <input
                #pass
                type="password"
                class="form-control {{
                  isFieldTouched('password')
                    ? validateField('password')
                      ? validateSamePassword()
                        ? 'is-valid'
                        : 'is-invalid'
                      : ''
                    : ''
                }}"
                formControlName="password"
                placeholder="min 8 character and max 40 character"
                id="password"
              />
              <span class="text-light">{{ pass.value.length }} / 40</span>
            </div>
          </div>
          <div class="m-3">
            <div class="flex-row text-start">
              <label for="passwordAgain" class="form-label text-light"
                >Re-enter Password</label
              >
            </div>
            <div class="flex-row text-end">
              <input
                #passAgain
                type="password"
                formControlName="passwordAgain"
                placeholder="min 8 character and max 40 character"
                class="form-control {{
                  isFieldTouched('passwordAgain')
                    ? validateField('passwordAgain')
                      ? validateSamePassword()
                        ? 'is-valid'
                        : 'is-invalid'
                      : ''
                    : ''
                }}"
                id="passwordAgain"
                min="8"
                max="40"
              />
              <span class="text-light">{{ passAgain.value.length }} / 40</span>
            </div>
          </div>

          <div class="flex-row">
            <mat-divider class="border border-2"></mat-divider>
            <div class="p-2"></div>
          </div>

          <div class="flex-row d-flex justify-content-center">
            <button
              mat-button
              matStepperNext
              type="submit"
              class="
                btn btn-dark
                border border-2
                shadow
                text-capitalize
                rounded-pill
              "
              [disabled]="!isFormValid()"
            >
              register<i class="fas fa-user-plus"></i>
            </button>
          </div>
        </form>
      </mat-card>
    </mat-step>

    <mat-step label="Confirm Registration">
      <mat-card
        class="
          shadow-lg
          blur
          bg-transparent
          container
          border
          rounded
          align-self-center
        "
        @fade
      >
        <div
          class="
            text-center text-justify text-light
            m-5
            text-wrap text-break text-justify
          "
          *ngIf="registered == 'false'"
        >
          <div class="flex-row">
            <h1 class="text-capitalize">
              Your registration has Failed
              <i class="fas fa-grimace fa-2x text-danger"></i>
            </h1>
          </div>
          <div class="flex-row">
            <p>
              If you see this message it means, the email that you used is
              already associated to an account, if it is your account please go
              to the login page and reset your password or you can create a new
              account with a different...
            </p>
          </div>
          <div class="flex-row d-flex justify-content-evenly">
            <div class="pr-2">
              <button
                class="btn btn-dark rounded-pill border border-3 shadow"
                [routerLink]="['/authentication']"
              >
                Authentication<i class="fas fa-sign-in-alt pl-1"></i>
              </button>
            </div>

            <div>
              <button
                class="
                  btn btn-info
                  rounded-pill
                  border border-3
                  shadow
                  text-light
                "
                [routerLink]="['/home']"
              >
                Home<i class="fas fa-door-open pl-1"></i>
              </button>
            </div>
          </div>
        </div>

        <div
          class="
            text-center text-justify text-light
            m-5
            text-wrap text-break text-justify
          "
          *ngIf="registered == 'pending'"
        >
          <h1 class="text-capitalize">
            Wait a moment...
            <i class="fas fa-meh-rolling-eyes text-warning fa-2x"></i>
          </h1>

          <div class="d-flex justify-content-center">
            <div class="spinner-border text-warning" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>

        <div
          class="text-center text-justify text-light m-5 text-wrap text-break"
          *ngIf="registered == 'true'"
        >
          <div class="flex-row">
            <h1 class="text-capitalize">
              Your registration is a Success
              <i class="fas fa-smile-wink fa-2x text-success"></i>
            </h1>
          </div>

          <div class="flex-row">
            <p>
              Go check your mail to confirm your account!<i
                class="fas fa-envelope text-warning"
              ></i>
            </p>
          </div>
        </div>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<div class="flex-row">
  <div class="p-5"></div>
  <div class="p-5"></div>
</div>
<app-footer class="position-sticky"></app-footer>
