<div class="container">
  <div class="row">
    <div class="p-5"></div>
    <mat-divider class="text-light border border-3"></mat-divider>
    <div class="p-4"></div>
    <div
      class="
        row
        d-flex
        justify-content-center
        text-uppercase
        font-weight-bold
        text-light text-center
      "
    >
      <h1 style="font-family: 'Times New Roman', Times, serif" @fade>
        RESET PASSWORD <i class="fas fa-user-cog"></i>
      </h1>
    </div>
    <div class="p-4"></div>
    <mat-divider class="text-light border border-3"></mat-divider>
    <div class="p-4"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="flex-row d-flex justify-content-center">
    <div class="card shadow-lg blur rounded border bg-transparent">
      <div class="m-3" *ngIf="codeInvalid == undefined">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="flex-row text-start">
            <label for="exampleInputPassword1" class="form-label text-light"
              >New Password</label
            >
          </div>
          <div class="flex-row text-end">
            <input
              #pass
              type="password"
              class="form-control {{
                isFieldTouched('password')
                  ? validateField('password')
                    ? validateSamePassword()
                      ? 'is-valid'
                      : 'is-invalid'
                    : ''
                  : ''
              }}"
              formControlName="password"
              placeholder="min 8 character and max 40 character"
              id="password"
            />
            <span class="text-light">{{ pass.value.length }} / 40</span>
          </div>

          <div
            class="m-3"
          >
            <div class="flex-row text-start">
              <label for="passwordAgain" class="form-label text-light"
                >Confirm New Password</label
              >
            </div>
            <div class="flex-row text-end">
              <input
                #passAgain
                type="password"
                formControlName="passwordAgain"
                placeholder="min 8 character and max 40 character"
                class="form-control {{
                  isFieldTouched('passwordAgain')
                    ? validateField('passwordAgain')
                      ? validateSamePassword()
                        ? 'is-valid'
                        : 'is-invalid'
                      : ''
                    : ''
                }}"
                id="passwordAgain"
                min="8"
                max="40"
              />
              <span class="text-light">{{ passAgain.value.length }} / 40</span>
            </div>
          </div>

          <div class="d-flex justify-content-center mb-3">
            <button class="btn btn-success rounded-pill border border-3 shadow">
              EDIT<i class="fas fa-sign-out-alt pl-1"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
