<mat-grid-list class="grid-container" cols="1" rowHeight="100%">
    <mat-grid-tile>
      <div>
        <div class="row d-flex justify-content-center">
          <h1
            style="
              font-family: 'Times New Roman', Times, serif;
              font-weight: bolder;
              font-size: 100px;
            "
            class="font-weight-bold"
          >
            <span>Spending</span> <span class="text-dark">Control</span>
          </h1>
        </div>
        <div class="mt-4">

        </div>
        <div class="row d-flex justify-content-center">
          <i
            class="fas fa-piggy-bank fa-6x rounded btn"
          ></i>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>