<mat-grid-list class="grid-container" cols="1" rowHeight="100%">
    <mat-grid-tile>
      <div>
        <div class="row d-flex justify-content-center">
          <h1
            style="
              font-family: 'Times New Roman', Times, serif;
              font-weight: bolder;
              font-size: 100px;
            "
            class="font-weight-bold"
          >
            <span class="text-dark">Spending</span> <span class="text-light">Control</span>
          </h1>
        </div>
        <div class="mt-4">

        </div>
        <div class="row">
          <div class="d-flex justify-content-center" (click)="rotate()">

            <i
            class="fas fa-piggy-bank fa-6x rounded btn text-light" [@rotatedState]='state'
            ></i>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>