<div
  class="bg-dark border text-light container-fluid modal-dialog-scrollable"
  style="overflow-x: auto; overflow-y: auto"
>
  <div class="modal-header">
    <h4 class="modal-title text-center">
      <u>
        Add An Article To Your Daily Expense<i class="fas fa-cart-plus"></i>
      </u>
    </h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true"><i class="fas fa-times text-danger"></i></span>
    </button>
  </div>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
  <div class="modal-body bg-dark mt-4">
    <div class="card shadow text-light bg-dark border">
        <div class="m-4 flex-row d-flex justify-content-center">
          <span class="text-capitalize mr-1"> Article Already Exist ? </span>
          <mat-slide-toggle
            color="primary"
            [(ngModel)]="createAnExistingArticle"
            [ngModelOptions]="{standalone: true}"
          ></mat-slide-toggle>
        </div>

        <div class="flex-row">
          <mat-divider class="border"></mat-divider>
        </div>

        <div class="m-4">
          <div class="flex-row text-start">
            <label for="name" class="form-label text-light text-start"
              >Article Name</label
            >
          </div>
          <div class="flex-row text-start">
            <input
              type="text"
              class="form-control {{
                isFieldTouched('name')
                  ? isFieldValid('name')
                    ? 'is-valid'
                    : 'is-invalid'
                  : ''
              }} rounded border border border shadow"
              id="name"
              formControlName="name"
            />
          </div>
        </div>

        <div class="m-4">
          <div class="flex-row text-start">
            <label for="qty" class="form-label text-light text-start"
              >Article Quantity</label
            >
          </div>
          <div class="flex-row text-start">
            <input
              #name
              type="number"
              class="form-control {{
                isFieldTouched('qty')
                  ? isFieldValid('qty')
                    ? 'is-valid'
                    : 'is-invalid'
                  : ''
              }} rounded border border border shadow"
              id="qty"
              formControlName="qty"
              min="0"
              pattern="^[0-9]+$"
              (change)="setPrices($event)"
            />
          </div>
        </div>

        <div class="flex-row">
          <mat-divider class="border"></mat-divider>
        </div>

        
        <div class="m-4 flex-row d-flex justify-content-center">
          <span class="text-capitalize">Do they have the same price ?</span>
          <mat-slide-toggle
          color="primary"
            class="pr-2"
            [(ngModel)]="everyArticleHasSamePrice"
            [ngModelOptions]="{standalone: true}"
          ></mat-slide-toggle>
        </div>

        <div class="flex-row">
          <mat-divider class="border"></mat-divider>
        </div>


        <div class="m-4">
          <div class="flex-row text-start">
            <label for="qty" class="form-label text-light text-start"
              >Article Price</label
            >
          </div>
          <div class="flex-row text-start" *ngIf="everyArticleHasSamePrice == true">
            <input
              #name
              type="number"
              class="form-control {{
                isFieldTouched('price')
                  ? isFieldValid('price')
                    ? 'is-valid'
                    : 'is-invalid'
                  : ''
              }} rounded border border border shadow"
              id="price"
              formControlName="price"
              min="0"
              pattern="^[0-9]+[.,]?[0-9]{0,}$"
            />
          </div>

          <div class="flex-row text-start" *ngIf="everyArticleHasSamePrice == false">
              <div></div>
          </div>
        </div>

        <div class="m-4 flex-row d-flex justify-content-start">
          <select class="form-select {{
            isFieldTouched('degreeOfUseFullness')
              ? isFieldValid('degreeOfUseFullness')
                ? 'is-valid'
                : 'is-invalid'
              : ''
          }}" formControlName="degreeOfUseFullness" aria-label="Default select example">
            <option
              *ngFor="let degUseFullNess of listDegOfUseFullNess"
              [value]="degUseFullNess"
            >
              {{ degUseFullNess }}
            </option>
          </select>
        </div>
      </div>
    </div>
    
    <div class="modal-footer flex-row d-flex justify-content-center mt-4">
      <button [disabled]="articleForm.invalid" type="submit" class="btn btn-outline-warning rounded-pill">
        Add Article<i class="fas fa-plus-circle"></i>
      </button>
    </div>
  </form>
</div>
