<mat-sidenav-container class="sidenav-container-fluid bg-transparent">
  <mat-sidenav #drawer class="sidenav bg-transparent blur" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="bg-transparent blur text-light border rounded">Menu <i *ngIf="isHandset$ | async" class="fas fa-bars btn text-light" (click)="drawer.toggle()"></i></mat-toolbar>
    <mat-nav-list class="bg-transparent blur">
      <a mat-list-item [routerLink]="['/authentication']" class="border-bottom border-dark rounded">{{isLoggedIn() ? 'Logout':'Login'}} <i class="fas {{isLoggedIn() ? 'fa-sign-out-alt':'fa-sign-in-alt'}}"></i></a>
      <a mat-list-item [routerLink]="['/registration']" class="border-bottom border-dark rounded" *ngIf="!isLoggedIn()">Registration <i class="fas fa-user-plus"></i></a>
      <a mat-list-item [routerLink]="['/dashboard']" class="border-bottom border-dark rounded" *ngIf="isLoggedIn()">DashBoard <i class="fas fa-newspaper"></i></a>
      <a mat-list-item [routerLink]="['/dailyExpenseDetail']"  class="border-bottom border-dark rounded" *ngIf="isLoggedIn()">Daily Expenses <i class="fas fa-hand-holding-usd"></i></a>
      <a mat-list-item href="#" class="border-bottom border-dark bg-transparent rounded" *ngIf="isLoggedIn()" disabled="disabled">Goals <i class="fas fa-bullseye"></i></a>
      <a mat-list-item [routerLink]="['/home']" class="border-bottom border-dark bg-transparent rounded" disabled="disabled">Home <i class="fas fa-door-open"></i></a>
      <a mat-list-item [routerLink]="['/userSettings']" class="border-bottom border-dark rounded" *ngIf="isLoggedIn()">User Settings <i class="fas fa-user-cog"></i></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="bg-transparent blur">
    <mat-toolbar class="bg-transparent border rounded">
      <button
        type="button"
        aria-label="Toggle sidenav"
        class="btn btn-transparent "
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon" class="text-light">menu</mat-icon>
      </button>
      <span class="text-light" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">SpendingControl <i class="fas fa-piggy-bank"></i></span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
